<ul class="thumbnails list-unstyled col-md-12">
    <li class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img src="./imgs/users.jpg" alt="Users">
            <div class="caption">
                <h3>
                    Users
                </h3>
                <p>
                    User view section contains list of the users which can access this survey. You can create, update and delete the users as per the requirments.
                </p>
                <p style="text-align: center;">
                    <a href="#users" class="btn btn-primary btn-large">Enter</a>
                </p>
            </div>
        </div>
    </li>
    <li class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img src="./imgs/greetings.png" alt="Greetings">
            <div class="caption">
                <h3>
                    Greetings
                </h3>
                <p>
                    Greeting section contains the list of all the greeting uploaded. You can create, read, update and delete the greetings.
                </p>
                <p style="text-align: center;">
                    <a href="#greetings" class="btn btn-primary btn-large">Enter</a>
                </p>
            </div>
        </div>
    </li>
    <li class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img src="./imgs/userAssesment.jpg" alt="Reports">
            <div class="caption">
                <h3>
                    Reports
                </h3>
                <p>
                    Report section genrates the report of all the greeting which has been uploaded on the basis of the votes given by the user.
                </p>
                <p style="text-align: center;">
                    <a href="#reports" class="btn btn-primary btn-large">Enter</a>
                </p>
            </div>
        </div>
    </li>
</ul>
