<div class="modal fade" role="dialog" aria-labelledby="userCreateEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="userCreateEditLabel">{{button}} User</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="alert-container"></div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <form action="" method="POST" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label" for="firstname">First Name:&nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label>
                                    <input type="text" id="firstname" {{#if create}}autofocus="autofocus"{{/if}} name="firstname" class="input-xlarge form-control" placeholder="eg. sachin" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label" for="id">Employee Id:&nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label>
                                    <input type="text" id="id" name="id" class="input-xlarge form-control" placeholder="eg. 1234" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label" for="accesstype">Access Level:&nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label></br>
                                    <label class="radio-inline">
                                        <input type="radio" id="accessAdmin" value="true" name="accesstype" /> Admin
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="accessUser" value="false" name="accesstype" /> User
                                    </label>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="" method="POST" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label" for="lastname">Last Name: &nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label>
                                    <input type="text" id="lastname" name="lastname" class="input-xlarge form-control" placeholder="eg. tendulkar" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label" for="email">Email Id: &nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label>
                                    <input type="text" id="email" name="email" class="input-xlarge form-control" placeholder="eg. abc@cybage.com" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            {{#if create}}
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label" for="password">Password: &nbsp;(<span class="glyphicon glyphicon-asterisk txt-danger"></span>) </label>
                                        <input type="password" id="password" name="password" class="input-xlarge form-control" placeholder="eg. Xyz" />
                                        <span class="help-inline"></span>
                                    </div>
                                </div>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary createEditUser"><i class="icon-ok-sign icon-white"></i>{{button}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-remove-sign"></i> Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->