<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="lead">Confirm</h3>
    </div>
    <div class="modal-body">
        <div class="alert-container"></div>
        <div class="control-group">
            <div class="controls">
                <label class="lead text-error">Do you want to submit your response,once submited can't be reverted.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success confirmGreeting"><i class="icon-thumbs-up icon-white"></i> Yes</a>
        <a href="#" class="btn" data-dismiss="modal"><i class="icon-thumbs-down"></i> No</a>
    </div>
</div>
