<div class="container">
    <div class="alert alert-custom">
        <p class="highlight txt-user ">Hi {{firstname}} <span class="pull-right"><!-- Placeholder for date --></span></p>
        <p>Welcome to your dashboard.
            <span class="pull-right txt-report">
                {{#if response}}
                        <span class="glyphicon glyphicon-thumbs-up"></span> &nbsp; Thank you for responding to this survey.
                    {{else}}
                        Vote for your favourite greeting now.
                {{/if}}
            </span>
        </p>
    </div>
    <h3 class="headingTitle">
        Vote your favourite greetings.
    </h3>
    <hr>
    <section class="row">
        {{#each greetings}}
            <div class="col-md-3 col-sm-4 col-xs-6 thumb-container" data-id="{{id}}">
                <a title="{{url}}:" class="thumbnail" >
                    <img src="{{url}}" alt="{{url}}" class="greetingImage" />
                </a>
                <div class="well well-small greetingTooltip" style="display:none">
                    <p>Designed by:&nbsp;<strong>{{tblUsers.0.firstname}} {{tblUsers.0.lastname}}</strong></p>
                    <a href="{{url}}" class="btn btn-primary" rel="greetings[set]">Quick View</a>
                    <a class="btn btn-secondary voteNow {{#if ../response}} disabled {{/if}}" title="{{#if ../response}} Already voted{{else}} Vote Now {{/if}}" >Vote Now</a>
                </div>
                <div class="voteTooltip" style="display:none">
                    <span class="glyphicon glyphicon-ok-circle {{#if ../response}} disabled {{/if}}" title="{{#if ../response}} Already voted{{else}} Vote Now {{/if}}"></span>
                </div>
            </div>
        {{/each}}
    </section>

    {{#unless response}}
        <div class="modal-footer row">
            <span class="currentInfo col-md-3 col-md-offset-8">Selected Greetings for Voting &nbsp;<span class="label label-warning counter"> </span></span>
            <button class="btn btn-secondary disabled submit" disabled = "true"><i class="icon-ok-sign icon-white"></i>Submit</button>
        </div>
    {{/unless}}
</div>
<div class="modal-container"></div>